.blog__feature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

.feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.blog__feature-image {
    width: 100%;
    height: 250px;
}

.blog__feature-image img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.blog__feature-content_link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.blog__feature-content_link p {
    padding: 0 .5rem;
    color: grey;
}

.blog__feature-content_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}

.blog__feature-content_time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    color: grey;
}

.blog__feature-content_desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:700px){
    .blog__feature {
        padding-right: 0;
    }
}