.blog__header-bg {
    background-image: url("./assets/Img_02.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    height: calc(100vh - 50px)
}